  @import url('https://fonts.googleapis.com/css?family=Dosis|Josefin+Sans|Lobster|Raleway');
  /* BASE SETUP --------------------------------------------------------------------------------*/
  /* element reset */
  
  @import url('normalize.css');
  /* clearfix */
  
  .clearfix::after {
    content: "";
    display: block;
    clear: both;
  }
  
  * {
    box-sizing: border-box;
  }
  /* Important/basic html elements */
  
  body {
    background: white;
    color: #222222;
    font-family: sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    height: auto;
  }
  
  a {
    color: #6fcb9f;
  }
  
  a:hover {
    color: #1B7056;
  }
  
  a.product {
    color: white;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
  }
  
  h1 {
    font-size: 5.063rem;
  }
  
  h2,
  legend {
    font-size: 3.375rem;
  }
  
  h3 {
    font-size: 2.25rem;
    -webkit-filter: blur(0px);
    filter: blur(0px);
  }
  
  h4 {
    font-size: 1.5rem;
  }
  
  p {
    font-size: 1.8rem;
    line-height: 1.6;
    color: rgba(0, 0, 0, 0.6);
    font-weight: 200;
  }
  
  img {
    max-width: 100%;
    height: auto;
    width: auto;
  }
  
  header {
    background-color: #FFFFFF;
    width: 100%;
    min-height: 100px;
  }
  /* NAV MENU */
  
  header {
    position: fixed;
    background: #fff;
    width: 100%;
    height: 11rem;
    top: 0;
    left: 0;
    z-index: 100;
    border-bottom: 1px solid #CCC;
    transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    -webkit-transition: background .3s ease-in-out;
  }
  
  .topPage {
    background: rgba(255, 255, 255, 0);
    border-bottom: none;
    transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    -webkit-transition: background .3s ease-in-out;
  }
  
  #logo {
    margin: 20px;
    float: left;
    width: 153px;
    height: 69px;
    background: url(../assets/logo.png) no-repeat center;
    display: block;
  }
  
  header {
    padding-right: 1.6rem;
  }
  
  nav {
    float: right;
  }
  
  #menu-icon {
    display: hidden;
    width: 40px;
    height: 40px;
    background: #6fcb9f url(../assets/menu-icon.png) center;
  }
  
  a:hover#menu-icon {
    background-color: #1B7056;
  }
  
  nav ul {
    list-style: none;
    margin: 2.5rem 0 0 0;
    padding: 0;
  }
  
  nav li {
    display: inline-block;
    float: left;
    padding: 10px;
    font-family: 'Lobster', cursive;
    font-size: 2.4rem;
  }
  
  nav li a {
    text-decoration: none;
    color: #6fcb9f;
    transition: color .3s ease-in-out;
    -moz-transition: color .3s ease-in-out;
    -webkit-transition: color .3s ease-in-out;
  }
  
  nav li a:hover {
    color: #1B7056;
    transition: color .3s ease-in-out;
    -moz-transition: color .3s ease-in-out;
    -webkit-transition: color .3s ease-in-out;
  }
  
  .current {
    color: #1B7056;
  }
  /* End of important/html elements */
  /*NAVIGATION 
*/
  /* This is the end of the navigation section */
  
  .customizer-header {
    width: 100 %;
    height: 400px;
    background-color: #E1E1E1;
    top: 100px;
  }
  
  .customizer-aside {
    float: right;
    width: 50%;
    background-color: #7BDCC5;
    height: 400px;
  }
  
  .customizer-config {
    width: 100%;
    background-color: #F8F8F8;
    color: white;
    padding-bottom: 20px;
  }
  
  #config-inner {
    margin: 0 auto;
    max-width: 1100px;
  }
  
  .banner {
    /* margin-top: 11rem; */
    width: 100%;
    min-height: 60rem;
    background-color: #EBEBEB;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-image: url("../assets/images/joqgijmqens-bady-qb.jpg");
    color: #FFFFFF;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }
  
  .top-padding {
    margin-top: 11rem;
  }
  
  #banner-text {
    position: flex;
    text-align: center;
    top: 50%;
    margin: auto;
  }
  
  .banner a {
    color: white;
    text-decoration: none;
  }
  
  .banner-shadow {
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
  }
  
  .banner h3,
  .product h3 {
    font-family: 'Lobster', cursive;
    font-size: 3.2rem;
    line-height: 145%;
    margin: 0 0 0.8rem 0;
    text-align: center;
  }
  
  .banner h4 {
    font-family: 'Raleway', sans-serif;
    font-size: 2.4rem;
    margin: 0 0 1.6rem 0;
    text-align: center;
  }
  
  .customizer-button {
    color: white;
    background-color: Transparent;
    text-align: center;
    text-decoration: none;
    font-size: 2.0rem;
    padding: 1.0rem 1.0rem;
    border: 2px solid white;
    display: inline-block;
    margin: 0 auto 3.2rem auto;
  }
  
  #choose_topDiv {
    height: 350px;
    background-color: #6BBFC4;
  }
  /* PRODUCT SELECTOR */
  
  .product-selector {
    width: 100%;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 0 0.8rem 0 0.8rem;
    margin: 0.8rem auto 0 auto;
    max-width: 112rem;
  }
  
  .product {
    width: 33.33%;
    min-height: 20rem;
    float: left;
    text-align: center;
    color: white;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }
  
  .product {
    color: white;
    text-decoration: none;
    display: inline-block;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    transition: opacity .4s ease-in-out;
    -moz-transition: opacity .4s ease-in-out;
    -webkit-transition: opacity .4s ease-in-out;
  }
  
  .product:hover {
    opacity: 1;
    transition: opacity .4s ease-in-out;
    -moz-transition: opacity .4s ease-in-out;
    -webkit-transition: opacity .4s ease-in-out;
  }
  
  .pick-selected {
    opacity: 1;
    transition: opacity .4s ease-in-out;
    -moz-transition: opacity .4s ease-in-out;
    -webkit-transition: opacity .4s ease-in-out;
  }
  
  .product#car-picker {
    background-image: url("../assets/images/car1.jpg");
    margin-right: 0.8rem;
  }
  
  .product#bike-picker {
    background-image: url("../assets/images/bike1.jpg");
    margin-right: 0.8rem;
  }
  
  .product#boat-picker {
    background-image: url("../assets/images/boat1.jpg");
  }
  
  .picture {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    width: 50%;
    height: 25rem;
  }
  
  #courier {
    background-image: url("../assets/images/vintageTruck.png");
  }
  
  #guarantee {
    background-image: url("../assets/images/guarantee.jpg");
  }
  
  #satisfaction {
    background-image: url("../assets/images/satisfaction.png");
  }
  
  #promotion {
    background-image: url("../assets/images/promotion.png");
  }
  
  #inner-map {
    max-width: 112rem;
    margin: 10rem auto 10rem auto;
  }
  
  #inner-map h1,
  #inner-map p {
    text-align: center;
  }
  
  #map {
    height: 40rem;
    width: 100%;
    margin: 0.8rem;
  }
  
  .customize-button {
    float: left;
    width: 20%;
    text-align: center;
    background-color: #6ABD9B;
    padding: 5%;
    margin-right: 36px;
    margin-top: 100px;
    margin-bottom: 100px;
  }
  
  .customize-button i {
    font-size: 1000%;
    padding: 13% 0 4% 0;
    color: #A2E7E0;
  }
  
  .button-inner {
    max-width: 1100px;
    height: auto;
    margin: 0 auto;
  }
  
  .inner-wrapper {
    float: left;
    width: 100%;
    background-color: #FFFFFF;
  }
  
  .inner-wrapper-3 {
    float: left;
    width: 100%;
  }
  /* DECIDE */
  
  .page-section {
    margin: 0 auto 0 auto;
    max-width: 112rem;
    padding: 1.6rem;
  }
  
  #vehicle {
    text-align: center;
  }
  
  #model-info {
    text-align: center;
  }
  
  #customize {
    text-align: center;
  }
  
  .page-section h1 {
    margin-top: 10rem;
    text-align: center;
  }
  
  .pullquote {
    width: 33.3%;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    margin: 3.2rem auto 0 auto;
  }
  
  .pullquote h3 {
    font-style: italic;
    margin: 1.6rem 0 1.6rem 0;
  }
  
  .pullquote h4,
  .pullquote h5 {
    margin: 0;
    opacity: 0.5;
  }
  /* SOURCES */
  
  .testamonial {
    max-width: 112rem;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 10rem auto 0 auto;
  }
  
  .testamonial h1 {
    text-align: center;
  }
  
  .testamonial article.left {
    margin-right: 4.8rem;
  }
  
  .testamonial article.right {
    margin-left: 4.8rem;
  }
  
  #video {
    width: 100% !important;
    height: auto !important;
  }
  
  #video iframe {
    height: 50rem;
    width: 100%;
  }
  
  #account-header h1 {
    margin-top: 10rem;
    text-align: center;
  }
  
  .rightFloat {
    text-align: right;
  }
  
  .sources {
    /*margin-top: 10rem;*/
    margin-bottom: 5rem;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  
  .sources h2,
  .sources h1 {
    margin-top: 20rem;
    margin: auto;
    text-align: center;
  }
  
  .sources article {
    width: 30%;
  }
  /* PRODUCT CHOOSE */
  
  #top-section {
    margin-top: 11.8rem;
  }
  
  .carousel {
    background: white;
    width: 100%;
    /* height: 100px; */
  }
  
  .carousel-container {
    margin-bottom: 5rem;
  }
  
  .carousel .item {
    left: -50%;
    position: flex;
    max-width: 50%;
    text-align: center;
    margin: auto;
  }
  
  .carousel .item img {
    position: relative;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    /* width: 30rem;
    height: 23rem;*/
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .controllers {
    text-align: center;
    margin-top: 10px;
  }
  
  .controllers span {
    width: 5rem;
    height: 5rem;
    display: inline-block;
    font-size: 35px;
    background-color: #D6D6D6;
    cursor: pointer;
    color: white;
    border-radius: 7rem;
    text-align: center;
  }
  /* carousel overrides */
  /* .slick-prev,
.slick-next {
  width: 3.2rem;
  height: 3.2rem;
  color: red;
  background: red;
}*/
  
  .slick-prev:before,
  .slick-next:before {
    color: #448D7A;
    font-size: 3.2rem;
  }
  
  .slick-center h4 {
    color: #2EBB7B;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
  }
  
  .slick-slide {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    opacity: 0.5;
  }
  
  .warp {
    position: absolute;
    left: -9999rem;
  }
  
  .slick-center {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    opacity: 1;
  }
  
  .form-content {
    padding: 0 3.2rem 0 3.2rem;
  }
  
  input[type=radio] {
    color: #448D7A;
  }
  
  fieldset.radiogroup {
    border: none;
    padding: 0;
    margin-bottom: 7.2rem;
    padding-bottom: 1.6rem;
    border-bottom: 1px solid #ccc;
  }
  
  fieldset.radiogroup legend {
    color: #666;
    margin: 0 0 1.6rem 0;
    padding: 0;
    font-family: 'Lobster', cursive;
  }
  
  ul.radio {
    margin: 0;
    padding: 0;
    margin-left: 20px;
    margin-bottom: 10px;
    list-style: none;
  }
  
  ul.radio li {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    max-width: 75%;
    padding: 0.8rem;
  }
  
  ul.radio span {
    display: inline-block;
  }
  
  ul.radio input[type=radio] {
    width: 3.2rem;
    height: 3.2rem;
  }
  
  ul.radio li:active {
    background: #CCC;
  }
  
  .swatch {
    display: inline-block;
    width: 3.2rem;
    height: 3.2rem;
    border-radius: 0.8rem;
    margin-left: 0.5rem;
    margin-right: 1.5rem;
  }
  /* 
TOTAL BARS
*/
  
  #total {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 0 auto 7.2rem auto;
  }
  
  #total h2 {
    margin: 0;
  }
  
  .whip-button {
    border-radius: 0.8rem;
    color: white;
    background: #448D7A;
    padding: 0.8rem 1.6rem;
    font-size: 2.4rem;
    border: 0;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
  }
  
  .red {
    background-color: #EB4915;
  }
  
  .green {
    background-color: #6ECF70;
  }
  
  .blue {
    background-color: #3B80DA;
  }
  
  .yellow {
    background-color: #F1EA15;
  }
  
  .white {
    background-color: #EDEDED;
  }
  
  .starburst {
    background-color: #EE8A2C;
  }
  
  .mahogany {
    background-color: #4F2F11;
  }
  
  .oak {
    background-color: #975B22;
  }
  
  .beech {
    background-color: #B4A494;
  }
  
  .v4 {
    background-color: #E3E3E3;
  }
  
  .v6 {
    background-color: #B6B6B6;
  }
  
  .v8 {
    background-color: #7F7F7F;
  }
  
  .v10 {
    background-color: #5E5E5E;
  }
  
  .v12 {
    background-color: #3A3A3A;
  }
  
  .v12plus {
    background-color: #000000;
  }
  
  .silver-alloy {
    background-color: #DFD6DD;
  }
  
  .copper-alloy {
    background-color: #DC8A1A;
  }
  
  .magnesium-alloy {
    background-color: #F3F3F3;
  }
  
  .titanium-alloy {
    background-color: #DBF5F4;
  }
  
  .traction {
    background-color: #412742;
  }
  
  .winter {
    background-color: #727272;
  }
  
  .urban {
    background-color: #424242;
  }
  
  .sport {
    background-color: #48541A;
  }
  
  .racing {
    background-color: #1A5446;
  }
  
  .leather {
    background-color: #9B5E28;
  }
  
  .red-leather {
    background-color: #C04818;
  }
  
  .white-leather {
    background-color: #CAC1BD;
  }
  
  .diamond-vinyl {
    background-color: #131313;
  }
  
  .grey-vinyl {
    background-color: #898585;
  }
  
  .inner-width {
    width: 50%;
    display: block;
    margin: auto;
    text-align: center;
  }
  
  hr {
    width: 20%;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1rem auto 4.8rem auto;
    padding: 0;
  }
  
  .lefty {
    margin: 0;
  }
  
  .source-article a {
    text-decoration: none;
    color: #6ABD9B;
  }
  
  #sources {
    text-align: center;
  }
  
  .big-parallax {
    position: relative;
    opacity: 0.65;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    min-height: 40rem;
    margin: 10rem 0 0 0;
  }
  
  .dashboard {
    background-image: url("../assets/images/bigscreen1.jpg");
  }
  
  .engine {
    background-image: url("../assets/images/engine.jpg");
  }
  
  .boat {
    background-image: url("../assets/images/boating.jpg");
  }
  
  .image-align {
    display: block;
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-left: auto;
    margin-right: auto;
  }
  /* This is where the footer starts */
  
  .footer-content h5 {
    margin: 8px;
    text-align: center;
  }
  
  footer {
    width: 100%;
    background: #4b494f;
    color: white;
  }
  
  footer h4 {
    text-align: center;
    margin-bottom: 0.4rem;
    font-weight: 500;
  }
  
  footer p {
    color: #999;
    margin-top: 0;
    font-size: 1.4rem;
    font-weight: 400;
  }
  
  footer a {
    color: white;
  }
  
  .rights {
    padding: 1.6rem;
    text-align: center;
    color: #999;
  }
  
  .footer-column {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    border-bottom: 1px solid #999;
  }
  
  .footer-content {
    width: 30%;
  }
  
  .center-textcontent {
    text-align: center;
  }
  
  .social-links {
    list-style-type: none;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0;
  }
  
  .social-links li {
    display: inline;
  }
  
  .social-links i {
    color: white;
    font-size: 3.2rem;
  }
  
  .social-links i:hover {
    color: #cccccc;
  }
  
  .contacticon {
    font-size: 2.4rem;
  }
  
  #decide-commute h3 {
    margin-top: 2rem;
    text-align: center;
  }
  
  .popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }
  /* The actual popup (appears on top) */
  
  .popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
  }
  /* Popup arrow */
  
  .popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  /* Toggle this class when clicking on the popup container (hide and show the popup) */
  
  .popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
  }
  /* Add animation (fade in the popup) */
  
  .mapFrame {
    width: 100%;
    min-height: 32rem;
  }
  /************************************************************************************************************************
  MEDIA QUERY
  **********************************************************************************************************************/
  
  @media only screen and (max-width: 48rem) {
    header {
      position: fixed;
    }
    #menu-icon {
      display: inline-block;
    }
    nav {
      margin-top: 1.0rem;
      padding: 20px 20px 40px 20px;
    }
    nav:hover ul {
      display: block;
      /* 
    opacity: 0.95;
    transition: opacity .4s ease-in-out;
    -moz-transition: opacity .4s ease-in-out;
    -webkit-transition: opacity .4s ease-in-out;*/
    }
    nav ul
    /*,
 nav:active ul */
    {
      display: none;
      position: absolute;
      padding: 20px;
      background: white;
      /* opacity: 0;
    transition: opacity .4s ease-in-out;
    -moz-transition: opacity .4s ease-in-out;
    -webkit-transition: opacity .4s ease-in-out;*/
      border: 1px solid #448D7A;
      right: 0px;
      top: 80px;
      width: 100%;
      border-radius: 0.4rem;
    }
    nav li {
      text-align: center;
      width: 100%;
      padding: 10px 0;
      margin: 0;
      font-size: 3.2rem;
    }
    /* footer */
    .footer-column {
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
    }
    .footer-content {
      width: 100%;
    }
    /* product selector */
    .product-selector {
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
    }
    /* home sources 
  */
    .sources {
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
    }
    .sources article {
      width: 100%;
    }
    /* pullquotes 
  */
    .pullquote {
      width: 100%;
    }
    .product {
      min-height: 9rem;
      margin-bottom: 1.6rem;
    }
    .home-product {
      opacity: 1;
    }
    .big-parallax {
      min-height: 20rem;
    }
    .page-section h1 {
      margin-top: 5rem;
      line-height: 1;
    }
    fieldset.radiogroup {
      margin-bottom: 3.2rem;
    }
    ul.radio li {
      max-width: 100%;
    }
    ul.radio {
      margin: 0;
    }
    #total {
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
    }
    #total h2 {
      margin-bottom: 1.6rem;
      text-align: center;
    }
    .testamonial {
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      margin-top: 3.2rem;
    }
    .picture {
      width: 75%;
    }
    .testamonial article.right,
    .testamonial article.left {
      width: 100%;
      margin: 0;
      padding: 0 1.6rem;
    }
    #inner-map {
      padding: 0 1.6rem;
      margin-top: 3.2rem;
    }
    #map {
      padding: 0;
      margin: 0;
    }
    .testamonial hr {
      margin-bottom: 1.6rem;
    }
    .testamonial .picture {
      -webkit-order: 2;
      -ms-flex-order: 2;
      order: 2;
    }
    .inner-width {
      width: 100%;
    }
  }
